<li class="nav-item" data-id="authuser">
    <a
        class="nav-link collapsed"
        data-toggle="collapse"
        href="#settingsarea"
        aria-expanded="false"
        aria-controls="settingsarea"
    >
        <span class="menu-title">Settings</span>
        <i class="icon-layers menu-icon"></i>
    </a>
    <div class="collapse" id="settingsarea">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item">
                <a class="nav-link" data-id="authuserClient" href="{% url 'admin_dashboard:settings' %}">General Settings</a>
            </li>
        </ul>
    </div>
</li>
