{% load static %}

{% static "admin_custom_assets/css" as css %}
{% static "admin_custom_assets/fonts" as fonts %}
{% static "admin_custom_assets/images" as images %}
{% static "admin_custom_assets/js" as js %}
{% static "admin_custom_assets/vendors" as vendors %}


{% load admin_custom_template_tags %}

{% get_data object='appcore.models.SystemSettings' name='templatetext' as setting %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{page_title}}</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="{{vendors}}/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="{{vendors}}/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" href="{{vendors}}/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <link rel="stylesheet" href="{{css}}/style.css">
        <link rel="shortcut icon" href="{{images}}/favicon.png">
    </head>
    <body>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-center auth">
                    <div class="row flex-grow">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left p-5">
                                <center>
                                    <!-- message -->
                                    {% for message in messages  %}
                                        {{message}}
                                    {% endfor %}
                                    <!-- message -->
                                </center>
                                <!-- <div class="brand-logo">
                                    <img src="{{images}}/logo.svg">
                                </div> -->
                                <h3 class="font-weight-light text-center">
                                    <b>
                                        {% if setting.login_title %}
                                          {{setting.login_title}}
                                          {% else %}
                                          {{login_title}}
                                        {% endif %}
                                    </b>
                                </h3>
                                {% include "admin_custom/login_pages/form_fields.html" %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="{{vendors}}/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="{{js}}/off-canvas.js"></script>
        <script src="{{js}}/misc.js"></script>
        <!-- endinject -->
    </body>
</html>
