{% extends "admin/base_site.html" %}

{% block content %}
<h3>Print ID</h3>
<div class="container d-flex justify-content-center">
    <div class="col-lg-5 p-3 border border-2 shadow shadow-3">
        <div class="card" style="width: 18rem;">
            <div style="width: 100px; height: 100px; border-radius: 100px;">
                <img src="https://e7.pngegg.com/pngimages/512/120/png-clipart-businessperson-management-business-people-office.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
