

<div class="menu_section">
    <h3>Teachers</h3>
    <ul class="nav side-menu">
        <li>
            <a>
                <i class="fa fa-desktop"></i>
                Teachers Section
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li>
                    <a href="/console/myschool/teachers">Teachers</a>
                </li>
                <li>
                    <a href="/console/myschool/subjectselection">Register Subjects</a>
                </li>
                <li>
                    <a href="/console/myschool/attendance/">Create Attendance</a>
                </li>
                <li>
                    <a href="/console/myschool/attendancerecords/">Attendance Records</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
