<div class="menu_section">
    <h3>School Management</h3>
    <ul class="nav side-menu">
        <li>
            <a>
                <i class="fa fa-desktop"></i>
                Management
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li>
                    <a href="/admin/schools/schools">List Schools</a>
                </li>
                <li>
                    <a href="/admin/schools/domain">List Domains</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
