<div class="menu_section">
    <h3>Library Section</h3>
    <ul class="nav side-menu">
        <li>
            <a>
                <i class="fa fa-desktop"></i>
                Library Management
                <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
                <li>
                    <a href="/console/library/reservation/">Book Reservation</a>
                </li>
                <li>
                    <a href="/console/myschool/subjectselection">Register Subjects</a>
                </li>
                <li>
                    <a href="/console/library/member/">Member</a>
                </li>
                <li>
                    <a href="/console/library/book/">Create Books</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
