input:not([type="checkbox"]), textarea , select{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da; 
    border-radius: 0.25rem;
}

input[type=checkbox] {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da; 
    border-radius: 0.25rem;
}

input[type=file] {
    border: none; 
    padding: 0.185rem 0.375rem 0 0;
    border-radius: 0.25rem;
}

input:focus, textarea:focus, select:focus {
    color: #495057;
    border-color: #80bdff; 
}

input, textarea::placeholder {
    color: #6c757d;
    opacity: 1;
}

form > label {
margin-top: 15px;
}

/* .nav-item .nav-link.active {
    background-color: red;
} */

.helptext{
    display: none;
}