{% extends "admin_custom/base.html" %}



{% block content %}
<div class="col-lg-12">
    <h3>Dashboard {{pagename}}</h3>
</div>
{% comment %}
<a
    href="#"
    onclick="loadpages();"
    data-url=""
    data-toggle="modal"
    data-target="#modalBtn"
    data-modal_title="Search Warehouse"
    class="btn btn-sm btn-success"
>
    <i class="icon-magnifier"></i>
    Search Warehouse
</a>
{% endcomment %}

{% include "admin_custom/index_pages/expenses_card1.html" %}
  {% include "admin_custom/index_pages/expenses_card2.html" %}
  {% include "admin_custom/index_pages/expenses_card3.html" %}
<!-- {% include "admin_custom/index_pages/action_buttons.html" -->
{% endblock content %}
